{{- define "attribute"}}
  {{if .Required}}required{{else}}optional{{end}}(:{{.AttributeName | toSnake }}).{{.Verb}}({{.AttributeType}}){{if .HasChildren}} do
  {{- range .NestedAttributes}}
    {{- template "attribute" . -}}
  {{- end}}
  end
  {{- end}}
{{- end}}
