module {{.SliceName}}
  module Actions
    module {{.ModuleName | ucFirst}}
      class {{.ActionName}} < {{.AppName}}::Action
        include Deps[service: "services.{{.ModuleName | toSnake}}.{{.ActionName | toSnake}}"]
        params Contracts::{{.ActionName}}RequestContract

        def handle(request, response)
          service_result = service.call(request.params.to_h)

          if service_result.failure?
            raise StandardError
          end

          response_body_validation_result = Contracts::{{.ActionName}}ResponseContract.new.call(service_result.value!.to_h)
          if response_body_validation_result.failure?
            raise BadResponseShapeError
          end

          response.body = response_body_validation_result.values.to_h.to_json
        end
      end
    end
  end
end
