require "dry/validation"

module {{.AppName}}
  module Actions
    module Contracts
      {{- range .Contracts}}
      class {{.ContractName}} < {{.BaseClass}}
        params do
          {{- range .Attributes}}
            {{- template "attribute" . -}}
          {{- end}}
        end
      end
      {{end}}
    end
  end
end
