module {{.AppName}}
    class Routes < Hanami::Routes
        {{range .Routes}}{{.OperationDefinition.Method | lower}} "{{.Path}}", to: "{{index .OperationDefinition.Spec.Tags 0}}.{{.OperationDefinition.OperationId | toSnake}}"
        {{end}}
    end
end
