require "dry/validation"

{{- define "attribute"}}
  required(:{{.AttributeName | toSnake }}).{{.Verb}}({{.AttributeType}}){{if .HasChildren}} do
  {{- range .NestedAttributes}}
    {{- template "attribute" . -}}
  {{- end}}
  end
  {{- end}}
{{- end}}

module {{.AppName}}
  module Actions
    module Schemas
      {{range .Schemas}}
      {{.SchemaName}} = Dry::Schema.Params do
        {{- range .Attributes}}
            {{- template "attribute" . -}}
        {{- end}}
      end
      {{end}}
    end
  end
end
