require "dry/validation"

module {{.AppName}}
  module Actions
    module Schemas
      {{range .Schemas}}
      {{.SchemaName}} = Dry::Schema.Params do
        {{- range .Attributes}}
            {{- template "attribute" . -}}
        {{- end}}
      end
      {{end}}
    end
  end
end
