require "dry/monads"

module {{.SliceName}}
  module Services
    module {{.ModuleName | ucFirst}}
      class {{.ServiceName | ucFirst}}
        include Dry::Monads[:result]

        def call(params)
          Success({})
        end
      end
    end
  end
end
